.search-center{
	position: relative;
	left:550px;
}
#login{
	position: relative;
	left:600px;
}


.navbar.navbar-inverse {
	border: none;
}
.navbar .navbar-brand {
	padding-top: 0px;
}
.navbar .navbar-header {
	height: 300px;
}

.MyLink{
	Background:#FF3300;
	width:200px;
	height:70px;
	vertical-align:top;
	display:inline-block; font-weight:bold;
}

.MyLinkText{
	/*---The margin depends on how the image size is ---*/
	display:inline-block; margin-top:5px;
}